{{>layout/header}}
    <h4>스프링부트로 시작하는 웹서비스</h4>
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-6">
                <a href="/posts/save" role="button" class="btn btn-primary">저장</a>
            </div>
        </div>
    </div>
{{>layout/footer}}
